.cell {
  border: 3px blue solid;
  width: 40px;
  height: 40px;
}

.Red {
  border-color: red;
  background-color: red;
}

.Black {
  border-color: black;
  background-color: black;
}

.table {
  border: 3px black solid;
}